{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Crear Partido{% endblock %}

{% block page_title %}<h1 class="text-default">Formulario</h1>{% endblock %}

{% block page_title_right %}<a href="{{ path('match_index') }}" class="btn btn-default btn">Todos los Partidos</a>{% endblock %}

{% block page_content %}

    <style>
        .left_col{
            height:1300px;
        }
    </style>

    <br>

    <div class="container well" style="padding:25px; background:white">

    <div class="col-xs-offset-2">
        <h1 class="text-primary">Agregar Partido</h1>
    </div><br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="col-xs-offset-2">
            <input type="submit" value="Guardar" class="btn btn-success" id="submit"/>
        </div>
    {{ form_end(form) }}

    </div>

    <script>
    $(document).ready(function() {
        $('#datetimepicker').data("DateTimePicker")
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
    </script>
    

{% endblock %}