<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><span>Admin Tennis-Star</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile clearfix">
            <div class="profile_pic">
                {% if app.user.playerUser.imgSrc == null %}
                <img src="{{ asset('images/perfil.jpg') }}" alt="..." class="img-circle profile_img">
                {% else %}
                <img src="{{ asset('uploads/users/') }}{{app.user.playerUser.imgSrc}}" alt="..." class="img-circle profile_img">
                {% endif %}
            </div>
            <div class="profile_info">
                <span>Bienvenido</span>
                <h2>{{app.user.playerUser.firstname}} {{app.user.playerUser.lastname}}</h2>
            </div>
        </div>

        <br><br>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section active">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a href=""><i class="fa fa-bar-chart"></i>Inicio</a></li>
                </ul>
            </div>

            <div class="menu_section active">
                <h3>Entidades</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a><i class="fa fa-user"></i>Usuarios<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('user_new') }}">Agregar usuario</a></li>
                            <li><a href="{{ path('user_index') }}">Ver usuarios</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-users"></i>Amistades<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('request_friend_new') }}">Agregar amistad</a></li>
                            <li><a href="{{ path('request_friend_index') }}">Ver amistades</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-trophy"></i>Partidos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('match_new') }}">Agregar Partido</a></li>
                            <li><a href="{{ path('match_index') }}">Ver Partidos</a></li>
                        </ul>
                    </li>
                    <li class=""><a><i class="fa fa-book"></i>Noticias<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="{{ path('notice_new') }}">Agregar noticia</a></li>
                            <li><a href="{{ path('notice_index') }}">Ver noticias</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="menu_section active">
                <h3>Personalizar página</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="slide">Slide</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>