<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% if app.user.playerUser.imgSrc == null %}
                        <img src="{{ asset('images/perfil.jpg') }}" alt="...">
                        {% else %}
                        <img src="{{ asset('') }}{{app.user.playerUser.imgSrc}}" alt="...">
                        {% endif %}
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="#">Perfil</a></li>
                        {% if app.user.playerUser.imgSrc == null or app.user.playerUser.firstname == null or app.user.playerUser.lastname == null or app.user.playerUser.age == null %}
                        {% else %}
                        <li><a href="{{ path('playerUser_edit', {id: app.user.id})}}">Editar perfil</a></li>
                        {% endif %}
                        <li><a href="/web/app_dev.php/admin/logout"><i class="fa fa-sign-out pull-right"></i>Salir</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% if app.user.playerUser.imgSrc == null or app.user.playerUser.firstname == null or app.user.playerUser.lastname == null or app.user.playerUser.age == null %}
                        <span style="color:red" class="fa fa-bell"></span>
                        {% else %}
                        <span class="fa fa-bell"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if app.user.playerUser.imgSrc == null or app.user.playerUser.firstname == null or app.user.playerUser.lastname == null or app.user.playerUser.age == null %}
                        <li style="background:#FFCDD2"><a href="{{ path('playerUser_edit', {id: app.user.id})}}">Completar perfil <i class="fa fa-exclamation-triangle"></i></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            </li>
            </ul>
        </nav>
    </div>
</div>