{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ver noticias{% endblock %}

{% block page_title %}<h1 class="text-default">Noticias</h1>{% endblock %}

{% block page_title_right %}
    <a href="{{ path('notice_new') }}" class="btn btn-success btn">Agregar</a>
{% endblock %}


{% block page_content %}

    <style>
        .left_col{
            height:1300px;
        }
    </style>

    <br><br>

     <table id="example" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Autor</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Autor</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
            {% for n in notice %}
            <tr data-id="{{ n.id }}">
                <td>{{ n.id }}</td>
                <td>{{ n.title }}</td>
                <td>{{ n.description }}</td>
                <td>{{ n.user.username }}</td>
                <td>{{ n.createAt|date('Y-m-d H:i:s')}}</td>
                <td>{{ n.updateAt|date('Y-m-d H:i:s')}}</td>
                <td>
                <a href="{{ path('notice_edit', {id: n.id})}}" class="btn btn-xs btn-primary">Editar</a>
                <a href="#" class="btn btn-xs btn-danger btn-delete">Eliminar</a>
                <a href="{{ asset(n.imgSrc)}}" class="btn btn-xs btn-danger btn-success">Ver imagen</a>
                {% if n.videoLink is not null %}
                <a href="https://www.youtube.com/embed/{{n.videoLink}}" class="btn btn-xs btn-danger btn-success">Ver video</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    {{ include('Forms/formDelete.html.twig', {form: delete_form, message: 'Estas seguro que quieres borrar la noticia?', id: 'form-delete', with_submit: false}) }}
    
    <script src="{{ asset('js/delete-ajax.js') }}"></script>
 
{% endblock %}
